#showHistory{
  width: 1077px;
  min-width: 1077px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  h2 {
    font-size: 16px;
    font-family: "Microsoft Yahei";
    font-weight: normal;
    text-align: left;
    border-left: solid 4px #39c;
    text-indent: 10px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .item {
    float: left;
    width: 225px;
    margin: 10px 20px 10px 0;
    img{
      width: 225px;
      height: 136px;
      border: solid 1px #ccc;
      border-style: dashed;
      border-width: 1px;
      border-color: #ccc;
    }
    &:nth-child(2) img {
      box-shadow: rgb(51, 153, 204) 0px 0px 10px;
    }
    a {
      margin-top: 10px;
      display: inline-block;
      width: 100px;
      text-align: center;
      font-size: 14px;
      text-decoration: none;
      font-family: "Microsoft Yahei";
      color: #666;
      -webkit-transition: all 0.4s ease-in-out;
    }
  }
}

#footer {
  width: 1100px;
  height: 50px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}