body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

ol, ul, li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px Verdana,Helvetica,Arial,sans-serif;
}

table {
  border-collapse: collapse;
}

html {
  overflow-y: scroll;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

body {
  background: #fff;
  font-family: "Microsoft Yahei";
}

#content {
  width: 1100px;
  height: 550px;
  background: url(../images/background.png);
  margin: 0 auto;
}

.tips {
  font-size: 12px;
  position: absolute;
  top: top;
  bottom: 25px;
  right: 100px;
}

canvas {
  cursor: url(../images/cursor.gif) 2 2, crosshair;
}

#header {
  width: 1100px;
  height: 80px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#header .lineType {
  width: 36px;
  border: 1px solid #e2dede;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 60px;
  left: 220px;
  display: none;
}
#header .lineType p {
  padding: 1px 0;
  cursor: pointer;
}
#header .lineType p i.iconfont {
  color: #000;
}
#header .lineType p i.first {
  font-size: 14px;
}
#header .lineType p i.second {
  font-size: 20px;
}
#header .lineType p i.three {
  font-size: 27px;
}
#header .lineType p i.third {
  font-size: 35px;
}
#header .lineType p.active, #header .lineType p:hover {
  background: rgba(218, 218, 218, 0.14);
}
#header h1 {
  float: left;
  text-indent: 10px;
  font-size: 18px;
  margin-right: 22px;
  line-height: 80px;
}
#header ul.tool {
  position: relative;
}
#header ul.tool li {
  float: left;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 4px #49a4db;
  margin: 0 6px;
  cursor: pointer;
  background-color: #FFF;
  -webkit-transition: background-color 0.2s ease-in-out;
  border-radius: 20px;
  margin-top: 24px;
  position: relative;
  transform: all 0.2s ease 0s;
}
#header ul.tool li i.iconfont {
  font-size: 18px;
  line-height: 32px;
}
#header ul.tool li:hover i.iconfont, #header ul.tool li.active i.iconfont {
  color: #fff;
}
#header ul.tool li.active {
  background-color: #49a4db;
  box-shadow: 0 0 4px #99bce2;
}
#header ul.tool li:hover {
  background-color: #49a4db;
  box-shadow: 0 0 4px #99bce2;
}
#header ul.tool li.border::after {
  content: "|";
  font-size: 16px;
  position: absolute;
  top: 4px;
  left: 36px;
  color: #ccc;
}

#showHistory {
  width: 1077px;
  min-width: 1077px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#showHistory h2 {
  font-size: 16px;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  text-align: left;
  border-left: solid 4px #39c;
  text-indent: 10px;
  line-height: 24px;
  margin-bottom: 20px;
}
#showHistory .item {
  float: left;
  width: 225px;
  margin: 10px 20px 10px 0;
}
#showHistory .item img {
  width: 225px;
  height: 136px;
  border: solid 1px #ccc;
  border-style: dashed;
  border-width: 1px;
  border-color: #ccc;
}
#showHistory .item:nth-child(2) img {
  box-shadow: #3399cc 0px 0px 10px;
}
#showHistory .item a {
  margin-top: 10px;
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  font-family: "Microsoft Yahei";
  color: #666;
  -webkit-transition: all 0.4s ease-in-out;
}

#footer {
  width: 1100px;
  height: 50px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}

@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.bigpicker {
  width: 227px;
  height: 163px;
  position: absolute;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2px 0 1px 5px;
  box-shadow: 0 0 4px #565656;
  display: none;
}

.bigpicker-sections-color {
  margin: 0;
  padding: 0;
}

.bigpicker-sections-color ul {
  margin: 0;
  padding: 0;
  float: left;
}

.bigpicker-sections-color ul li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  border-top: solid 1px #000000;
  border-left: solid 1px #000000;
  width: 10px;
  height: 10px;
  overflow: hidden;
  line-height: 0px;
  font-size: 0px;
}

.bigpicker .biglayout {
  width: 10px;
  height: 10px;
  border: solid 1px #FFFFFF;
  position: absolute;
  z-index: 10000;
  display: none;
  line-height: 10px;
  overflow: hidden;
  cursor: default;
}

.bigpicker-bgview-text {
  margin: 0;
  padding: 0;
  height: 24px;
}

.bigpicker-bgview-text li {
  padding: 0 5px 0 0;
  list-style: none outside none;
  float: left;
  line-height: 18px;
}

.bigpicker-bgview-text li div {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 55px;
  background-color: #000000;
  border-left: solid 1px #CCCCCC;
  border-top: solid 1px #CCCCCC;
  border-right: solid 1px #2B2B2B;
  border-bottom: solid 1px #2B2B2B;
}

.bigpicker-bgview-text li input {
  margin: 0;
  padding: 0;
  height: 17px;
  width: 55px;
}

.bigpicker-bgimage {
  /*background-image:url(../images/big_bgcolor.jpg);*/
}

/*# sourceMappingURL=main.css.map */
